.mt {
  margin-top: 12rem !important;
}

@media (max-width: 991px) {
  .mt {
    margin-top: 8rem !important;
  }
}

@media (max-width: 576px) {
  .mt {
    margin-top: 6rem !important;
  }
}

.noscroll {
  overflow: hidden;
  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 1023px) {
  .noscroll {
    max-height: 100vh !important;
    position: fixed !important;
  }
}

.nomt {
  margin-top: 0rem !important;
}
