/*

.card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  font-family: sans-serif;
}
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}
.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.info {
  padding: 10px;
  display: flex;
  & >{
    margin-left: 0.5rem ;
    margin-right: 0.5rem ;
  }
}
.title {
  font-weight: bold;
}
.subtitle {
  font-size: 14px;
  color: gray;
}
.price {
  margin-top: 5px;
  font-weight: bold;
}
.rating {
  font-size: 14px;
  color: #555;
} */

.card {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: transform 0.2s ease-in-out;
  background-color: transparent !important;
  color: var(--primary-text-color);
}



.image-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (min-width: 768px) {
  .image-container img {
    aspect-ratio: auto;
    height: 180px;
  }
}

.favorite {
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 999px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.heart:hover {
  transform: scale(1.1);
}

.heart {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.title {
  font-size: 15px;
  font-weight: 600;
}

.subtitle {
  font-size: 13px;
  color: var(--secondary-text-color);
}

.price, .rating {
  font-size: 13px;
  color: var(--primary-text-color);
}

@media (max-width: 480px) {
  .title {
    font-size: 14px;
  }
  .subtitle, .price, .rating {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 14px;
  }
  .subtitle, .price, .rating {
    font-size: 12px;
  }
}
