.airbnb-header {
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  padding: 1.2rem 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20rem; */
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 1rem; */
  /* padding: 0 2rem; */
}

.airbnb-logo svg {
  color: #ff385c;
  height: 32px;
  width: 102px;
}

.nav-middle {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  /* font-weight: 500; */
  font-size: 16px;
  /* position: absolute; */
  /* left: 50%; */
}

.nav-middle li a {
  text-decoration: none;
  transition: color 0.2s ease;
  border: none;
  /*font-weight: 500;
  */ /*font-size: 16px;
  */
  cursor: pointer;
  /*color: #222;
  */
  padding: 0.3rem 1rem;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.nav-middle li a:hover {
  background-color: var(--border-color);
}

.nav-middle li a.active {
  background-color: var(--border-color);
}

.nav-middle {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 991px) {
  .nav-middle {
    display: none !important;
  }
}
